.img-container {
    max-height: 94vh;
}

.img-container h1 {
    top: 40%;
    font-size: 3rem;
}

.img-container p {
    top: 60%;
    font-size: 1.5rem;
}

.img-container h1,
.img-container p {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    text-shadow: 2px 2px 4px #000000;
}

.img-principal {
    filter: brightness(0.7);
}